#main {
  background-image: url("../../public/Fores.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#mainc h1 {
  transition: 2s all ease-in;
  animation: anime infinite alternate;
}

#border {
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.761);
}

@keyframes anime {
  0% {
    font-size: 40px;
    scale: 2;
    rotate: 30deg;
  }
  100% {
    scale: 1;
  }
}
